<p>Find me in app/views/top_pages/home.html.erb</p>
<p>ここになんか適当なコンテンツを入れると見栄えは良くなる（動作には関係ない）</p>
<%= link_to "Log in", @url %>
<form action="/follow" method="post">
    <input type="submit" value="Follow" />
</form>
