<h1>誰かのマイクロポスト</h1>
<p>ここに誰かのマイクロポストがたくさん入る</p>
<ol>
	<% @microposts_hash.each do |list| %>
		<li>
			<span><%= list["content"] %></span>
			<span><%= list["created_at"] %></span>
		</li>
	<% end %>
</ol>